body {
  background-color: hsl(0, 0%, 15%);
  
  text-align: center;
}

.app {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  padding: 8px 12px;
  max-width: fit-content;
  max-height: fit-content;
  border-radius: 4px;

  background-color: hsl(0, 0%, 25%);
}

.calculator__display {
  padding: 2% 5%;
  height: 2.5rem;
  border-radius: 4px;
  
  background-color: var(--hunter-green);
  color: var(--asparagus);

  font-family: var(--press-start-2p), cursive;
  font-weight: 400;
  text-align: right;
  line-height: 2.5rem;
}

.calculator__button-container {
  margin-top: 1.5rem;

  display: grid;
  justify-content: center;

  grid-template: repeat(5, 40px [row-start]) / repeat(4, 40px [col-start]);
  gap: 0.25rem;
}

.calculator__input {
  border: none;
  border-radius: 0.25rem;

  background-color: var(--bittersweet-shimmer);
  color: var(--parchment);
  
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}
.calculator__input:active {
  background-color: var(--parchment);
  color: var(--bittersweet-shimmer);
}
.calculator__input:nth-child(3) {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
}

.fa-solid {
  pointer-events: none;
}