:root {
  /* ---COLOURS--- */
  --hunter-green: hsla(132, 29%, 31%, 1);
  --asparagus: hsla(98, 32%, 45%, 1);
  --yellow-green: hsla(78, 51%, 56%, 1);
  --parchment: hsla(43, 57%, 88%, 1);
  --bittersweet-shimmer: hsla(359, 47%, 51%, 1);

  /* ---FONTS--- */
  --press-start-2p: 'Press Start 2P';
}